.header {
    height: 100vh;
    &__1 {
        background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero-small.jpg);
        background-size: cover;
        height: 100vh;
        -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
        clip-path: polygon(0 0, 50% 100%, 100% 0);
        animation: moveInUp 1s ease-out;
        position: relative;
    }

    &__2 {
        background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero-small.jpg);
        background-size: cover;
        height: 100vh;
        -webkit-clip-path: polygon(50% 100%, 0 0, 0 100%);
        clip-path: polygon(50% 100%, 0 0, 0 100%);
        position: relative;
        top: -100vh;
        animation: moveInLeft-1 1s ease-out;
    }

    &__3 {

        background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero-small.jpg);
        height: 100vh;
        background-size: cover;
        -webkit-clip-path: polygon(50% 100%, 100% 100%, 100% 0);
        clip-path: polygon(50% 100%, 100% 100%, 100% 0);
        position: relative;
        top: -200vh;
        animation: moveInRight-1 1s ease-out;
    }
    /*
    @supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(50% 80%, 0 0, 100% 0);
        clip-path: polygon(50% 80%, 0 0, 100% 0);
        height: 90vh;
    }

    @media (min-resolution: 192dpi) and (min-width: 37.5em),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    (min-width: 125em) {
        background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero.jpg);
    }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%);
    }
*/
    &__logo {
        height: 6rem;
        position: absolute;
        top: 6rem;
        left: 6rem;

        @include respond(tab-port) {
            top: 4rem;
            left: 4rem;
            height: 5rem;
        }

    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;


    }
}
